In [21]:
import pandas as pd
data = pd.read_csv('Dataset of Diabetes .csv')
data.head()
print(data.isnull().sum())
data.head()
#introducing
new_row = {col: float('nan') for col in data.columns}
data = pd.concat([data, pd.DataFrame([new_row])], ignore_index=True)
print(data.isnull().sum())
# data.head(-3)

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64
ID           1
No_Pation    1
Gender       1
AGE          1
Urea         1
Cr           1
HbA1c        1
Chol         1
TG           1
HDL          1
LDL          1
VLDL         1
BMI          1
CLASS        1
dtype: int64

In [22]:
#Set the values to some value (zero, the mean, the median, etc.).
from sklearn.impute import SimpleImputer
imputer_median = SimpleImputer(strategy="median")
imputer_mean = SimpleImputer(strategy="mean")


data_copy = data.copy()

numerical_cols = data.select_dtypes(include=['number']).columns

for col in numerical_cols:

    if data_copy[col].isnull().any():
        print(f"Imputing missing values in column '{col}'")

        if col == "AGE":
            data_copy[col] = imputer_median.fit_transform(data_copy[[col]])
        else:
            data_copy[col] = imputer_mean.fit_transform(data_copy[[col]])


    print(f"Missing values in column '{col}': {data_copy[col].isnull().sum()}")


print(data_copy.head())

Imputing missing values in column 'ID'
Missing values in column 'ID': 0
Imputing missing values in column 'No_Pation'
Missing values in column 'No_Pation': 0
Imputing missing values in column 'AGE'
Missing values in column 'AGE': 0
Imputing missing values in column 'Urea'
Missing values in column 'Urea': 0
Imputing missing values in column 'Cr'
Missing values in column 'Cr': 0
Imputing missing values in column 'HbA1c'
Missing values in column 'HbA1c': 0
Imputing missing values in column 'Chol'
Missing values in column 'Chol': 0
Imputing missing values in column 'TG'
Missing values in column 'TG': 0
Imputing missing values in column 'HDL'
Missing values in column 'HDL': 0
Imputing missing values in column 'LDL'
Missing values in column 'LDL': 0
Imputing missing values in column 'VLDL'
Missing values in column 'VLDL': 0
Imputing missing values in column 'BMI'
Missing values in column 'BMI': 0
      ID  No_Pation Gender   AGE  Urea    Cr  HbA1c  Chol   TG  HDL  LDL  \
0  502.0    17975.0      F  50.0   4.7  46.0    4.9   4.2  0.9  2.4  1.4
1  735.0    34221.0      M  26.0   4.5  62.0    4.9   3.7  1.4  1.1  2.1
2  420.0    47975.0      F  50.0   4.7  46.0    4.9   4.2  0.9  2.4  1.4
3  680.0    87656.0      F  50.0   4.7  46.0    4.9   4.2  0.9  2.4  1.4
4  504.0    34223.0      M  33.0   7.1  46.0    4.9   4.9  1.0  0.8  2.0

   VLDL   BMI CLASS
0   0.5  24.0     N
1   0.6  23.0     N
2   0.5  24.0     N
3   0.5  24.0     N
4   0.4  21.0     N

In [31]:
#Handling Categorical Attributes
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

# Load the dataset
df=pd.read_csv('Dataset of Diabetes .csv')


# Make a copy to avoid modifying the original dataset
df_copy = df.copy()

# --- Step 1: Clean "CLASS" Column ---
df_copy["CLASS"] = df_copy["CLASS"].astype(str).str.strip()  # Remove extra spaces
df_copy["CLASS"] = df_copy["CLASS"].replace("", "Unknown")  # Handle empty values
df_copy["CLASS"].fillna("Unknown", inplace=True)  # Fill missing values with "Unknown"

# --- Step 2: Debug Unique Values ---
print("Unique values in CLASS column:", df_copy["CLASS"].unique())  # Check the values

# --- Step 3: Apply One-Hot Encoding ---
onehot_encoder = OneHotEncoder(sparse_output=False, drop=None)  # Keep all categories
encoded_data = onehot_encoder.fit_transform(df_copy[["CLASS"]])
encoded_df = pd.DataFrame(encoded_data, columns=onehot_encoder.get_feature_names_out(["CLASS"]))

# Concatenate the encoded CLASS data with the original dataframe
df_encoded = pd.concat([df_copy, encoded_df], axis=1)
df_encoded.drop("CLASS", axis=1, inplace=True)  # Remove original CLASS column

# --- Step 4: Apply Ordinal Encoding to "Gender" ---
df_encoded["Gender"] = df_encoded["Gender"].str.upper()  # Ensure consistency
ordinal_encoder = OrdinalEncoder(categories=[["M", "F"]])  # M -> 0, F -> 1
df_encoded["Gender_Encoded"] = ordinal_encoder.fit_transform(df_encoded[["Gender"]])
df_encoded.drop("Gender", axis=1, inplace=True)  # Remove original Gender column

# Save the transformed dataset
output_file = "transformed_dataset.csv"
df_encoded.to_csv(output_file, index=False)

# Display the first few rows of the transformed dataset
print(df_encoded.head())
print(f"Fixed dataset saved: {output_file}")

data=pd.read_csv('transformed_dataset.csv')
data.head(-50)

Unique values in CLASS column: ['N' 'P' 'Y']
    ID  No_Pation  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  \
0  502      17975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
1  735      34221   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0
2  420      47975   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
3  680      87656   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
4  504      34223   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0

   CLASS_N  CLASS_P  CLASS_Y  Gender_Encoded
0      1.0      0.0      0.0             1.0
1      1.0      0.0      0.0             0.0
2      1.0      0.0      0.0             1.0
3      1.0      0.0      0.0             1.0
4      1.0      0.0      0.0             0.0
Fixed dataset saved: transformed_dataset.csv

<ipython-input-31-9e3be6f0dc96>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy["CLASS"].fillna("Unknown", inplace=True)  # Fill missing values with "Unknown"

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS_N,CLASS_P,CLASS_Y,Gender_Encoded
0,502,17975,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1.0,0.0,0.0,1.0
1,735,34221,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,1.0,0.0,0.0,0.0
2,420,47975,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1.0,0.0,0.0,1.0
3,680,87656,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1.0,0.0,0.0,1.0
4,504,34223,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,120,565474,51,4.4,67,6.8,6.7,3.7,0.9,2.9,1.7,32.0,0.0,0.0,1.0,0.0
946,121,65756,62,4.8,52,11.8,3.7,0.8,0.8,2.6,0.3,33.0,0.0,0.0,1.0,1.0
947,122,345,60,3.3,59,7.6,3.5,1.0,1.3,1.5,0.7,30.0,0.0,0.0,1.0,0.0
948,123,5676,60,3.4,27,14.7,3.5,1.9,1.3,1.6,1.4,35.0,0.0,0.0,1.0,1.0
949,124,75634,61,4.3,70,9.1,6.6,2.9,1.1,4.3,1.3,29.0,0.0,0.0,1.0,0.0

In [32]:
# Data Transformations: Min-max Scaler/Normalization , Standard Scaler
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df_encoded = pd.read_csv("transformed_dataset.csv")
numerical_cols = df_encoded.select_dtypes(include=['number']).columns
normalizer = MinMaxScaler()
df_encoded[numerical_cols] = normalizer.fit_transform(df_encoded[numerical_cols])
output_file = "normalized.csv"
df_encoded.to_csv(output_file, index=False)
print(df_encoded.head())
print(f"Normalized dataset saved: {output_file}")

         ID  No_Pation       AGE      Urea        Cr     HbA1c      Chol  \
0  0.627034   0.000237  0.508475  0.109375  0.050378  0.264901  0.407767
1  0.918648   0.000452  0.101695  0.104167  0.070529  0.264901  0.359223
2  0.524406   0.000634  0.508475  0.109375  0.050378  0.264901  0.407767
3  0.849812   0.001160  0.508475  0.109375  0.050378  0.264901  0.407767
4  0.629537   0.000452  0.220339  0.171875  0.050378  0.264901  0.475728

         TG       HDL       LDL      VLDL       BMI  CLASS_N  CLASS_P  \
0  0.044444  0.226804  0.114583  0.011461  0.173913      1.0      0.0
1  0.081481  0.092784  0.187500  0.014327  0.139130      1.0      0.0
2  0.044444  0.226804  0.114583  0.011461  0.173913      1.0      0.0
3  0.044444  0.226804  0.114583  0.011461  0.173913      1.0      0.0
4  0.051852  0.061856  0.177083  0.008596  0.069565      1.0      0.0

   CLASS_Y  Gender_Encoded
0      0.0             1.0
1      0.0             0.0
2      0.0             1.0
3      0.0             1.0
4      0.0             0.0
Normalized dataset saved: normalized.csv

In [33]:
## Standardization (mean=0, variance=1)

import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load the encoded dataset
df_encoded = pd.read_csv("transformed_dataset.csv")
# Select only numerical columns for standardization (excluding encoded columns)
numerical_cols = df_encoded.select_dtypes(include=['number']).columns

# Initialize StandardScaler
scaler = StandardScaler()

# Apply Standardization (Z-score transformation) to all numerical columns
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])

# Save the transformed dataset
output_file = "normalized2.csv"
df_encoded.to_csv(output_file, index=False)

# Display first few rows of the transformed dataset
print(df_encoded.head())

# Provide the download link
print(f"Standardized dataset saved: {output_file}")

         ID  No_Pation       AGE      Urea        Cr     HbA1c      Chol  \
0  0.672140  -0.074747 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
1  1.641852  -0.069940 -3.130017 -0.212954 -0.115804 -1.334983 -0.893730
2  0.330868  -0.065869 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
3  1.412950  -0.054126 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
4  0.680463  -0.069939 -2.334096  0.673299 -0.382672 -1.334983  0.028576

         TG       HDL       LDL      VLDL       BMI   CLASS_N   CLASS_P  \
0 -1.035084  1.810756 -1.085457 -0.369958 -1.124622  2.951057 -0.236572
1 -0.678063 -0.158692 -0.457398 -0.342649 -1.326239  2.951057 -0.236572
2 -1.035084  1.810756 -1.085457 -0.369958 -1.124622  2.951057 -0.236572
3 -1.035084  1.810756 -1.085457 -0.369958 -1.124622  2.951057 -0.236572
4 -0.963680 -0.613180 -0.547121 -0.397267 -1.729472  2.951057 -0.236572

    CLASS_Y  Gender_Encoded
0 -2.325996        1.139671
1 -2.325996       -0.877446
2 -2.325996        1.139671
3 -2.325996        1.139671
4 -2.325996       -0.877446
Standardized dataset saved: normalized2.csv

**2nd Dataset**

In [35]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, MinMaxScaler, StandardScaler

# Load dataset
file_path = "/content/adult.csv"
df = pd.read_csv(file_path)

# ===========================
# ðŸ”¹ STEP 1: Handle Missing Values
# ===========================

# Option 1: Fill missing values with median for numerical and mode for categorical
for col in df.columns:
    if df[col].dtype == "object":  # Categorical columns
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:  # Numerical columns
        df[col].fillna(df[col].median(), inplace=True)

# ===========================
# ðŸ”¹ STEP 2: Handle Categorical Data
# ===========================

# Identify categorical columns
categorical_cols = df.select_dtypes(include=["object"]).columns.tolist()

# Apply One-Hot Encoding to categorical variables
onehot_encoder = OneHotEncoder(sparse_output=False, drop="first")  # Avoid dummy variable trap
encoded_data = onehot_encoder.fit_transform(df[categorical_cols])
encoded_df = pd.DataFrame(encoded_data, columns=onehot_encoder.get_feature_names_out(categorical_cols))

# Concatenate the encoded data and drop original categorical columns
df_encoded = pd.concat([df, encoded_df], axis=1)
df_encoded.drop(columns=categorical_cols, inplace=True)

# ===========================
# ðŸ”¹ STEP 3: Handle Outliers (IQR Method)
# ===========================

# Function to remove outliers using Interquartile Range (IQR)
def remove_outliers(df, threshold=1.5):
    Q1 = df.quantile(0.25)
    Q3 = df.quantile(0.75)
    IQR = Q3 - Q1
    return df[~((df < (Q1 - threshold * IQR)) | (df > (Q3 + threshold * IQR))).any(axis=1)]

# Apply outlier removal on numerical data
df_encoded = remove_outliers(df_encoded)

# ===========================
# ðŸ”¹ STEP 4: Data Transformation (Normalization & Standardization)
# ===========================

# Identify numerical columns
numerical_cols = df_encoded.select_dtypes(include=["number"]).columns

# ðŸ”¹ Min-Max Scaling (Normalization)
minmax_scaler = MinMaxScaler()
df_encoded[numerical_cols] = minmax_scaler.fit_transform(df_encoded[numerical_cols])

# ðŸ”¹ Standardization (Z-score)
standard_scaler = StandardScaler()
df_standardized = df_encoded.copy()
df_standardized[numerical_cols] = standard_scaler.fit_transform(df_encoded[numerical_cols])

# ===========================
# ðŸ”¹ STEP 5: Save Transformed Datasets
# ===========================

# Save the cleaned and transformed dataset
output_file_minmax = "/content/adult2.csv"
df_encoded.to_csv(output_file_minmax, index=False)

output_file_standard = "/content/adult3.csv"
df_standardized.to_csv(output_file_standard, index=False)

# Display the first few rows
print("Min-Max Scaled Data:")
print(df_encoded.head())

print("\nStandard Scaled Data:")
print(df_standardized.head())

print(f"\nâœ… Normalized dataset saved: {output_file_minmax}")
print(f"âœ… Standardized dataset saved: {output_file_standard}")

<ipython-input-35-9aaee04e73af>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
<ipython-input-35-9aaee04e73af>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

Min-Max Scaled Data:
           age    fnlwgt  educational-num  capital-gain  capital-loss  \
13    0.714286  0.714004              1.0           0.0           0.0
35    0.839286  0.433967              1.0           0.0           0.0
132   0.035714  0.802886              1.0           0.0           0.0
266   0.767857  0.444192              1.0           0.0           0.0
1417  0.285714  0.896515              1.0           0.0           0.0

      hours-per-week  workclass_Federal-gov  workclass_Local-gov  \
13          0.000000                    0.0                  0.0
35          0.294118                    0.0                  0.0
132         0.294118                    0.0                  0.0
266         0.294118                    0.0                  0.0
1417        0.294118                    0.0                  0.0

      workclass_Never-worked  workclass_Private  ...  \
13                       0.0                0.0  ...
35                       0.0                0.0  ...
132                      0.0                0.0  ...
266                      0.0                0.0  ...
1417                     0.0                0.0  ...

      native-country_Puerto-Rico  native-country_Scotland  \
13                           0.0                      0.0
35                           0.0                      0.0
132                          0.0                      0.0
266                          0.0                      0.0
1417                         0.0                      0.0

      native-country_South  native-country_Taiwan  native-country_Thailand  \
13                     0.0                    0.0                      0.0
35                     0.0                    0.0                      0.0
132                    0.0                    0.0                      0.0
266                    0.0                    0.0                      0.0
1417                   0.0                    0.0                      0.0

      native-country_Trinadad&Tobago  native-country_United-States  \
13                               0.0                           0.0
35                               0.0                           0.0
132                              0.0                           0.0
266                              0.0                           0.0
1417                             0.0                           0.0

      native-country_Vietnam  native-country_Yugoslavia  income_>50K
13                       0.0                        0.0          0.0
35                       0.0                        0.0          0.0
132                      0.0                        0.0          0.0
266                      0.0                        0.0          0.0
1417                     0.0                        0.0          0.0

[5 rows x 101 columns]

Standard Scaled Data:
           age    fnlwgt  educational-num  capital-gain  capital-loss  \
13    0.648319  1.387656         0.352089           0.0           0.0
35    1.085429  0.186624         0.352089           0.0           0.0
132  -1.724565  1.768858         0.352089           0.0           0.0
266   0.835652  0.230479         0.352089           0.0           0.0
1417 -0.850345  2.170415         0.352089           0.0           0.0

      hours-per-week  workclass_Federal-gov  workclass_Local-gov  \
13         -1.941908                    0.0                  0.0
35         -0.087277                    0.0                  0.0
132        -0.087277                    0.0                  0.0
266        -0.087277                    0.0                  0.0
1417       -0.087277                    0.0                  0.0

      workclass_Never-worked  workclass_Private  ...  \
13                       0.0                0.0  ...
35                       0.0                0.0  ...
132                      0.0                0.0  ...
266                      0.0                0.0  ...
1417                     0.0                0.0  ...

      native-country_Puerto-Rico  native-country_Scotland  \
13                           0.0                      0.0
35                           0.0                      0.0
132                          0.0                      0.0
266                          0.0                      0.0
1417                         0.0                      0.0

      native-country_South  native-country_Taiwan  native-country_Thailand  \
13                     0.0                    0.0                      0.0
35                     0.0                    0.0                      0.0
132                    0.0                    0.0                      0.0
266                    0.0                    0.0                      0.0
1417                   0.0                    0.0                      0.0

      native-country_Trinadad&Tobago  native-country_United-States  \
13                               0.0                           0.0
35                               0.0                           0.0
132                              0.0                           0.0
266                              0.0                           0.0
1417                             0.0                           0.0

      native-country_Vietnam  native-country_Yugoslavia  income_>50K
13                       0.0                        0.0          0.0
35                       0.0                        0.0          0.0
132                      0.0                        0.0          0.0
266                      0.0                        0.0          0.0
1417                     0.0                        0.0          0.0

[5 rows x 101 columns]

âœ… Normalized dataset saved: /content/adult2.csv
âœ… Standardized dataset saved: /content/adult3.csv